node_modules
Dockerfile
.bundle
.DS_Store

build
assets/build
functions/build

# Local Netlify folder and Deno lockfile
.netlify
deno.lock

# Local variables to match environment vars
.env

# Jake's additions
flight-free.code-workspace
