@tailwind base;

@font-face {
  font-family: Quicksand;
  font-weight: 500;
  src: url(/fonts/Quicksand-Medium.ttf) format("truetype");
}

@tailwind components;

@tailwind utilities;

#main-header #menu-toggle {
  background-image: url(/svg/menu_icon.svg);
}

#main-header.menu-active {
  background-color: #204f7f;
}

#main-header.menu-active #menu-toggle {
  background-image: url(/svg/menu_close_icon.svg);
}

#main-header.menu-active nav {
  @apply absolute left-0 right-0;
  @apply flex;
  top: 8rem;
  background-color: #204f7f;
}

.faq-question {
  background-size: 2rem;
}

.blog-post-body p, .blog-post-body ul {
  @apply text-lg leading-tight text-text-default;
  @apply mb-6;
}

.blog-post-body h2 {
  @apply text-xl leading-tight text-text-default font-semibold;
  @apply mb-6;
}

@media (min-width: 1280px) {
  .faq-question {
    @apply bg-auto;
  }

  .blog-post-card {
    width: 48%;
  }

  .blog-post-body p,
  .blog-post-body ul
  {
    @apply text-xl;
    @apply mx-32;
    @apply mb-8;
  }

  .blog-post-body h2 {
    @apply text-2xl;
    @apply mx-32;
    @apply mb-8;
  }
}

