@tailwind base;

@tailwind components;

@tailwind utilities;

/* Don't restrict width for to the xs and sm breakpoints */
@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}

#main-header #menu-toggle {
  background-image: url(/svg/menu_icon.svg);
}

#main-header.menu-active {
  background-color: #204f7f;
}

#main-header.menu-active #menu-toggle {
  background-image: url(/svg/menu_close_icon.svg);
}

#main-header.menu-active nav {
  @apply absolute left-0 right-0;
  @apply flex;
  top: 6rem;
  background-color: #204f7f;
}

.faq-question h3 {
  background-size: 2rem;
  min-height: 2rem;
  background-image: url(/svg/faqs_plus.svg)
}

.faq-question.expanded h3 {
  background-image: url(/svg/faqs_minus.svg)
}

.faq-question.expanded .answer {
  @apply block;
}

.faq-question p {
  @apply text-text-default text-base leading-tight;
}

.podcast-image {
  min-height: 8rem;
}

.blog-post-body a {
  @apply text-blue-dark;
}

.blog-post-body a:hover {
  @apply underline;
}

.blog-post-body p, .blog-post-body ul {
  @apply text-lg leading-normal text-text-default font-light;
  @apply mb-6;
}

.blog-post-body ul {
  @apply list-disc;
  @apply pl-4;
}

.blog-post-body h1,
.blog-post-body h2,
.blog-post-body h3,
.blog-post-body h4,
.blog-post-body h5,
.blog-post-body h6 {
  @apply text-xl leading-tight text-blue-dark font-semibold;
  @apply mb-6;
}

.blog-post-body strong {
  @apply font-semibold;
}

.blog-post-body figure img {
  @apply max-w-full;
  @apply mx-auto;
}

.blog-post-body figure figcaption {
  @apply text-xs;
  @apply font-bold;
  @apply mt-2;
}

.modal.is-open {
  @apply block;
}

@media (min-width: 1280px) {
  .faq-question {
    @apply bg-auto;
  }

  .faq-question p {
    @apply text-xl;
  }

  .blog-post-body p,
  .blog-post-body ul
  {
    @apply text-xl;
    @apply mb-8;
  }

  .blog-post-body h1,
  .blog-post-body h2,
  .blog-post-body h3,
  .blog-post-body h4,
  .blog-post-body h5,
  .blog-post-body h6 {
    @apply text-2xl;
    @apply mb-8;
  }
}
