@tailwind base;

@tailwind components;

@tailwind utilities;

/* Default 'normal' font weight for Chrome and Firefox is 400 but we were loading 300 and are now loading 500... */
html {
  font-weight: 500;
}
strong {
  font-weight: 600;
}

/* Don't restrict width for to the xs and sm breakpoints */
@media (max-width: 640px) {
  .container {
    max-width: 100%;
  }
}

#main-header #menu-toggle {
  background-image: url(/svg/menu_icon.svg);
}

#main-header.menu-active {
  background-color: #204f7f;
}

#main-header.menu-active #menu-toggle {
  background-image: url(/svg/menu_close_icon.svg);
}

#main-header.menu-active nav {
  @apply absolute left-0 right-0;
  @apply flex;
  top: 6rem;
  background-color: #204f7f;
}

.faq-question h3 {
  background-size: 2rem;
  min-height: 2rem;
  background-image: url(/svg/faqs_plus.svg)
}

.faq-question.expanded h3 {
  background-image: url(/svg/faqs_minus.svg)
}

.faq-question.expanded .answer {
  @apply block;
}

.faq-question p {
  @apply text-text-default text-base leading-tight;
}

.blog-post-body a {
  @apply text-orange;
}

.blog-post-body a:hover {
  @apply underline;
}

.blog-post-body p, .blog-post-body ul, .blog-post-body ol {
  @apply text-lg leading-normal text-text-default;
  @apply mb-6;
}
@media (min-width: 768px) {
  .blog-post-body h2, .blog-post-body h3, .blog-post-body h4, .blog-post-body h5, .blog-post-body h6, 
  .blog-post-body p, .blog-post-body ul, .blog-post-body ol {
    @apply px-16;
  }
}

.blog-post-body blockquote p {
  @apply text-3xl text-blue-dark;
  @apply leading-tight;
  @apply px-0;
}
@media (min-width: 768px) {
  .blog-post-body blockquote p {
    @apply text-4xl;
    @apply pl-16 border-l-2 border-gray-200;
  }
}

.blog-post-body iframe {
  @apply max-w-full;
  @apply w-full;
  @apply mb-6;
}

.blog-post-body ul {
  @apply list-disc;
  @apply pl-8;
}

.blog-post-body ol {
  @apply list-decimal;
  @apply pl-8;
}

.blog-post-body h1,
.blog-post-body h2,
.blog-post-body h3,
.blog-post-body h4,
.blog-post-body h5,
.blog-post-body h6 {
  @apply leading-tight text-blue-dark font-semibold;
  @apply mb-6;
}

.blog-post-body h6,
.blog-post-body h5,
.blog-post-body h4,
.blog-post-body h3 {
  @apply text-xl;
}

.blog-post-body h2 {
  @apply text-2xl;
}

.blog-post-body h1 {
  @apply text-3xl;
}

.blog-post-body strong {
  @apply font-semibold;
}

.blog-post-body figure img {
  @apply max-w-full;
  @apply mx-auto;
}

.blog-post-body figure figcaption {
  @apply font-bold;
  @apply mt-2;
  @apply text-center;
  @apply leading-tight;
}

.modal.is-open {
  @apply block;
}

@media (min-width: 768px) {
  .blog-post-body iframe {
    height: 32rem;
  }

  .blog-post-body ol,
  .blog-post-body ul {
    @apply pl-12;
  }
}

@media (min-width: 1280px) {
  .faq-question {
    @apply bg-auto;
  }

  .faq-question p {
    @apply text-xl;
    @apply mb-4;
  }

  .blog-post-body p,
  .blog-post-body ul,
  .blog-post-body ol,
  .blog-post-body iframe {
    @apply text-xl;
    @apply mb-8;
  }

  .blog-post-body h1,
  .blog-post-body h2,
  .blog-post-body h3,
  .blog-post-body h4,
  .blog-post-body h5,
  .blog-post-body h6 {
    @apply mb-8;
  }

  .blog-post-body h3,
  .blog-post-body h4,
  .blog-post-body h5,
  .blog-post-body h6 {
    @apply text-2xl;
  }

  .blog-post-body h2 {
    @apply text-3xl;
  }

  .blog-post-body h1 {
    @apply text-4xl;
  }
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}



/* pledge radio buttons */
.input__radio--pledge label {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;

    line-height: 1.125;
}
.input__radio--pledge .radio__input {
  display: flex;
}
.input__radio--pledge .radio__input input {
    opacity: 0;
    width: 0;
    height: 0;
}
.input__radio--pledge .radio__input input:checked + .radio__control {
  background: radial-gradient( white 0, white 25%, #1f4d7b 26%, #1f4d7b 100%);
}
.input__radio--pledge .radio__control {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 1px solid #1f4d7b;
}

/* pledge select dropdown */
.pledge-form__country--label {
  display: none;
}
.pledge-form__country--container {
  cursor: pointer;

  display: grid;
  grid-template-areas: "select";
  align-items: center;

  /* for focus state */
  position: relative;
}
.pledge-form__country--container::after {
  content: "";
  width: 12px;
  height: 8px;
  background-color: #1f4d7b;
  clip-path: polygon( 2px 0, 6px 4px, 10px 0, 12px 2px, 6px 8px, 0 2px );

  grid-area: select;
  justify-self: end;
}
.pledge-form__country--container select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;

  grid-area: select;
}
.pledge-form__country--container select:focus + .pledge-form__country--focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  border-radius: 4px;
}