@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
	font-family: "Kollektif";
	src: url("/fonts/Kollektif.woff2") format("woff2"), url("/fonts/Kollektif.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "KollektifBold";
	src: url("/fonts/Kollektif-Bold.woff2") format("woff2"), url("/fonts/Kollektif-Bold.woff") format("woff");
	font-display: swap;
}

html {
	font-family: "Kollektif", sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
}

h1,
h2,
strong {
	font-family: "KollektifBold", sans-serif;
	font-weight: 400;
}

/* Don't restrict width for to the xs and sm breakpoints */
@media (max-width: 640px) {
	.container {
		max-width: 100%;
	}
}

svg {
	max-width: 100%;
	height: auto;
}

/*
 * Mobile navigation
 */
#main-header #menu-toggle {
	background-image: url(/svg/menu_icon.svg);
}

#main-header.menu-active {
	@apply fixed top-0 bottom-0 left-0 right-0 p-4 flex;
	width: 100vw;
	height: 100vh;
	background-color: #204f7f;
}

#main-header.menu-active #menu-toggle {
	background-image: url(/svg/menu_close_icon.svg);
}

#main-header.menu-active nav,
#main-header.menu-active .social-links {
	@apply flex;
}

#main-header.menu-active .social-links {
	@apply w-full mt-16 justify-center;
}

#main-header .logo svg {
	width: 200px;
	height: auto;
}

@media (min-width: 768px) {
	#main-header .logo svg {
		width: 260px;
	}
}

#main-header a.svg:hover path {
	fill: #f7b38a;
}

/*
 * Homepage
 */
svg.arrow-curled {
	width: auto;
	height: 65px;
	transform: rotate(10deg);
}

@media (min-width: 768px) {
	svg.arrow-curled {
		height: 130px;
		transform: none;
	}
}

.section--how--card>* {
	max-width: 284px
}

@media (min-width: 768px) {
	.section--how--card>* {
		max-width: 190px
	}
}

@media (min-width: 1024px) {
	.section--how--card>* {
		max-width: 284px
	}
}

.pin {
	position: absolute;
	top: -2rem;
	left: 50%;
	margin-left: -14px;
}

/*
 * Mythbuster 
 */
.answered button {
	@apply cursor-default;
}

/*
 * Homepage videos 
 */
.home--videos a {
	position: relative;
}

.home--videos a:after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -45px;
	margin-left: -20px;
	background: transparent url("/images/video-play-blue-dark.svg") center center no-repeat;
}

@media (min-width: 768px) {
	.home--videos a:after {
		width: 60px;
		height: 60px;
		margin-top: -55px;
		margin-left: -40px;
	}
}

/*
 * Popups
 */
.modal.is-open {
	@apply block;
}

/*
 * FAQs page
 */
.faq-question h3 {
	background-size: 2rem;
	min-height: 2rem;
	background-image: url(/svg/faqs_plus.svg);
}

.faq-question.expanded h3 {
	background-image: url(/svg/faqs_minus.svg);
}

.faq-question.expanded .answer {
	@apply block;
}

.faq-question a {
	@apply border-b-4 border-orange;
}

.faq-question a:hover,
.faq-question a:focus {
	@apply text-orange;
}

@media (min-width: 1280px) {
	.faq-question {
		@apply bg-auto;
	}

	.faq-question p {
		@apply text-xl;
		@apply mb-4;
	}
}

/*
 * Blog: How-tos and Articles
 */
.blog-post-body a {
	@apply border-b-4 border-orange;
}

.blog-post-body a:hover {
	@apply text-orange;
}
.blog-post-body h2,
.blog-post-body h3 {
	@apply leading-tight;
}

.blog-post-body>p,
.blog-post-body ul,
.blog-post-body ol,
.blog-post-body blockquote {
	@apply leading-normal;
	@apply mb-6;
}

.blog-post-body ul {
	@apply list-disc;
	@apply pl-8;
}

.blog-post-body ol {
	@apply list-decimal;
	@apply pl-8;
}

@media (min-width: 768px) {
	.blog-post-body h2,
	.blog-post-body h3,
	.blog-post-body h4,
	.blog-post-body h5,
	.blog-post-body h6,
	.blog-post-body>p,
	.blog-post-body ul,
	.blog-post-body ol,
	.blog-post-body>div {
		@apply mx-24;
	}

	/* purgecss ignore */
	.blog-post-body>div.twitter-tweet {
		@apply mx-48;
		@apply pl-0;
		@apply pr-16;
	}

	.blog-post-body li {
		@apply ml-12;
	}

	.blog-post-body li p {
		@apply px-0;
	}
}

.blog-post-body blockquote p {
	@apply text-2xl;
	@apply leading-tight;
	@apply italic;
	/*font-family: "KollektifBold", sans-serif;*/
}

@media (min-width: 768px) {
	.blog-post-body blockquote {
		@apply pl-20;
		background: url("../../../source/images/blog_post_quote_mark.png") left top no-repeat;
	}
	.blog-post-body blockquote p {
		@apply text-4xl;
	}
}

.blog-post-body h1,
.blog-post-body h2,
.blog-post-body h3,
.blog-post-body h4,
.blog-post-body h5,
.blog-post-body h6 {
	;
	@apply mb-6;
}

.blog-post-body h1 {
	@apply text-3xl;
}

.blog-post-body h2 {
	@apply text-3xl;
}

.blog-post-body h3 {
	@apply text-2xl;
}

.blog-post-body h4,
.blog-post-body h5,
.blog-post-body h6 {
	@apply text-xl;
}

.blog-post-body figure img {
	@apply max-w-full;
	@apply mx-auto;
}

.blog-post-body figure figcaption {
	@apply mt-2;
	@apply text-center;
	font-family: "KollektifBold", sans-serif;
	@apply leading-normal;
}

.blog-post-body iframe {
	@apply max-w-full;
	@apply w-full;
	@apply mb-6;
	height: auto;
}

@media (min-width: 360px) {
	.blog-post-body iframe {
		height: 16rem;
	}
}

@media (min-width: 500px) {
	.blog-post-body iframe {
		height: 16rem;
	}
}

@media (min-width: 640px) {
	.blog-post-body iframe {
		height: 24rem;
	}
}

@media (min-width: 768px) {
	.blog-post-body iframe {
		height: 32rem;
	}
}

@media (min-width: 1280px) {

	.blog-post-body>p,
	.blog-post-body ul,
	.blog-post-body ol,
	.blog-post-body figcaption,
	.blog-post-body iframe {
		@apply text-xl;
		@apply mb-8;
	}

	.blog-post-body h1,
	.blog-post-body h2,
	.blog-post-body h3,
	.blog-post-body h4,
	.blog-post-body h5,
	.blog-post-body h6 {
		@apply mb-8;
	}

	.blog-post-body h1 {
		@apply text-4xl;
	}

	.blog-post-body h2 {
		@apply text-4xl;
	}

	.blog-post-body h3 {
		@apply text-3xl;
	}

	.blog-post-body h4 {
		@apply text-2xl;
	}
}

.text-shadow {
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}