<header class="relative z-10 flex flex-wrap justify-between px-4 sm:px-8 xxl:px-24 pt-6 sm:pt-10 pb-6 sm:pb-10" id="main-header">
  <div class="w-2/3 xl:w-2/5">
    <% link_to "/" do %>
      <%= image_tag "svg/logo.svg", alt: "Flight Free UK Logo" %>
    <% end %>
  </div>
  <a href="#" id="menu-toggle" class="xl:hidden self-center bg-no-repeat bg-center w-10 h-10" onclick="document.getElementById('main-header').classList.toggle('menu-active')"></a>
  <nav class="hidden xl:flex flex-wrap w-full xl:w-3/5 items-center justify-between text-xl text-center px-6 xl:px-0 pt-10 xl:pt-0 pb-6 xl:pb-0">
    <% {
         "why_flight_free" => "Why flight free?",
         "take_action" => "Take action",
         "be_inspired" => "Be inspired",
         "podcast" => "Podcast",
         "faq" => "FAQs"
       }.each do |path, name| %>
       <% current = "#{path}.html" == current_page.path || path == current_page.data.menu_item || ( current_page.path.include?("posts") && "be_inspired" == path ) %>
       <%= link_to name, "/#{path}.html", class: "w-full xl:w-auto mb-8 xl:mb-0 #{current ? "xl:border-b-2 border-orange" : nil}hover:text-orange" %>
    <% end %>
    <a href="https://donorbox.org/donate-to-flight-free-uk" class="custom-dbox-popup w-full xl:w-auto px-8 py-2 border-2 border-orange rounded-full bg-orange hover:bg-blue-dark text-blue-dark hover:text-white">Donate</a>
  </nav>
</header>
