<header class="flex flex-wrap justify-between px-4 sm:px-8 xxl:px-24 pt-6 sm:pt-10 pb-6 sm:pb-10" id="main-header">
  <div class="w-2/3 xl:w-1/2">
    <% link_to "/" do %>
      <%= image_tag "svg/logo.svg" %>
    <% end %>
  </div>
  <a href="#" id="menu-toggle" class="xl:hidden self-center bg-no-repeat bg-center w-10 h-10" onclick="document.getElementById('main-header').classList.toggle('menu-active')"></a>
  <nav class="hidden xl:flex flex-wrap w-full xl:w-1/2 items-center justify-between text-xl text-center pt-10 xl:pt-0 pb-6 xl:pb-0">
    <% {
         "why_flight_free" => "Why flight free?",
         "take_action" => "Take action",
         "be_inspired" => "Be inspired",
         "podcast" => "Podcast",
         "faq" => "FAQs"
       }.each do |path, name| %>
       <% current = "#{path}.html" == current_page.path || path == current_page.data.menu_item %>
       <%= link_to name, "/#{path}.html", class: "w-full xl:w-auto mb-8 xl:mb-0 #{current ? "xl:border-b-2 border-orange" : nil}" %>
    <% end %>
  </nav>
</header>
