<header class="flex justify-between xl:mx-16">
  <div class="w-2/3 xl:w-1/2">
    <% link_to "/" do %>
      <%= image_tag "svg/logo.svg" %>
    <% end %>
  </div>
  <%= image_tag "svg/menu_icon.svg", class: "xl:hidden" %>
  <nav class="hidden xl:flex xl:w-1/2 items-center justify-between text-xl">
    <% {
         "why_flight_free.html" => "Why flight free?",
         "take_action.html" => "Take action",
         "be_inspired.html" => "Be inspired",
         "podcast.html" => "Podcast",
         "faq.html" => "FAQs"
       }.each do |path, name| %>
      <%= link_to name, path, class: path == current_page.path ? "border-b-2 border-orange" : nil %>
    <% end %>
  </nav>
</header>
