<section class="section--why bg-gray-light text-blue-dark">
  <div class="container mx-auto px-2 lg:px-16 pt-12 pb-8">
    <h2 class="text-4xl lg:text-5xl font-bold text-center">Why?</h2>
  </div>
  <div class="container mx-auto md:flex justify-center items-center px-2 sm:px-8 lg:px-16 pb-8">
    <div id="why-images" class="md:w-1/2 lg:w-auto mb-8 pr-5 pl-5 md:pr-8 lg:pr-16 md:pl-4 lg:pl-0 grid grid-cols-1">
      <img src="/images/Why-for_the_climate-426x426.jpg" alt="Image for the climate" id="why-image-1" loading="lazy" class="col-start-1 row-start-1 visible" />
      <img src="/images/Why-to_inspire_social_change-426x426.jpg" alt="Image to inspire social change" id="why-image-2" loading="lazy" class="col-start-1 row-start-1 invisible" />
      <img src="/images/Why-to_influence_system_change-426x426.jpg" alt="Image to influence system change" id="why-image-3" loading="lazy" class="col-start-1 row-start-1 invisible" />
    </div>
    <div class="md:w-1/2 lg:w-auto mb-8 pl-8 md:pl-0 md:pr-8 text-xl lg:text-2xl xl:text-4xl">
      <ul id="why-buttons">
        <li class="py-4"><%= partial "svg/dot_pink.svg" %><a href="#" id="why-button-1" class="inline-block ml-4 hover:text-orange border-b-6 border-orange">For the climate</a></li>
        <li class="py-4"><%= partial "svg/dot_pink.svg" %><a href="#" id="why-button-2" class="inline-block ml-4 hover:text-orange border-b-6 border-gray-light">To inspire social change</a></li>
        <li class="py-4"><%= partial "svg/dot_pink.svg" %><a href="#" id="why-button-3" class="inline-block ml-4 hover:text-orange border-b-6 border-gray-light">To influence system change</a></li>
      </ul>
    </div>
    <script>
      var number_of_images = 3;
      function why_image_swap(button) {
          console.log(button)
        var whichNumber = button.id.replace("why-button-", "");
        var image = document.getElementById("why-image-"+whichNumber);
        // make them all invisible
        for ( var j = 0; j < number_of_images; j++ ) {
          var currentButton = document.getElementById("why-buttons").children[j].children[1];
          var currentImage = document.getElementById("why-images").children[j];
          if ( currentButton != 'undefined' && currentButton != null && currentButton.classList.contains("border-orange")) {
            currentButton.classList.remove("border-orange");
            currentButton.classList.add("border-gray-light");
          }
          if ( currentImage != 'undefined' && currentImage != null && currentImage.classList.contains("visible")) {
            currentImage.classList.remove("visible");
            currentImage.classList.add("invisible");
          }
        }
        // make the required ones visible
        if ( ! button.classList.contains("border-orange")) {
          button.classList.remove("border-gray-light");
          button.classList.add("border-orange");
        }
        if ( image != 'undefined' && image != null && ! image.classList.contains("visible")) {
          image.classList.remove("invisible");
          image.classList.add("visible");
        }
      }
      for ( var i = 1; i < number_of_images + 1; i++ ) {
        document.getElementById("why-button-"+i.toString()).addEventListener('click', function(e){
          e.preventDefault();
          why_image_swap(this);
        });
      }
    </script>
  </div>
  <div class="container mx-auto px-2 lg:px-16">
    <p>
      <% link_to "/why_flight_free/", class: "block text-right flex justify-end items-center pt-1 pb-8 font-bold text-lg xl:text-2xl hover:text-orange" do %>
        Find out more <img src="/svg/orange_arrow_right.svg" alt="arrow graphic" width="44" height="44" class="inline-block w-8 sm:w-10 h-auto ml-2" />
      <% end %>
    </p>
  </div>
</section>