<a href="/post/flight-free-for-2021-sian-charnley/" class="block h-56 bg-cover bg-center" style="background-image:url(/images/uploads/sian-charnley-pledge.jpg)"></a>
<div class="px-5 py-4">
    <h4 class="text-2xl text-blue-dark text-center leading-tight mb-4"><a href="/post/flight-free-for-2021-sian-charnley/">Siân Charnley, Bristol</a></h4>
    <p class="text-lg text-black text-center leading-tight mb-2"><a href="/post/flight-free-for-2021-sian-charnley/">&ldquo;In the 1970s, while train travel was still the default way of travelling in Europe, I read quite a bit about the environment and decided never again to fly.&rdquo;</a></p>
</div>
