<section class="section--how bg-blue text-white">
  <div class="container mx-auto px-2 xl:px-16">
    <h2 class="text-4xl lg:text-5xl pt-8 pb-12 text-center">How?</h2>
    <div class="flex flex-wrap justify-center">
      <% data.how_cards.values.first(3).each do | howto | %>
          <%= partial(:home_howto, :locals => { :name => howto.title, :url => howto.url, :cover_image => howto.cover_image }) %>
      <% end %>
    </div>
    <p>
      <% link_to "/how_to/", class: "block text-right flex justify-end items-center pt-1 pb-8 font-bold text-lg xl:text-2xl hover:text-orange" do %>
        Find out more <img src="/svg/orange_arrow_right.svg" alt="arrow graphic" width="44" height="44" class="inline-block w-8 sm:w-10 h-auto ml-2" />
      <% end %>
    </p>
</section>