<section class="section--challenge bg-blue-dark text-gray-light">
  <div class="container mx-auto px-2 lg:px-16">
    <h2 class="text-4xl lg:text-5xl pt-12 pb-6 text-center">Take the challenge</h2>
    <p class="pb-12 text-xl lg:text-3xl text-center"><span id="counter"><iframe
    src="https://0073b4a27fee21fb6a83cc3c919eb9e2-17912.sites.k-hosting.co.uk/counter/counter.php"
    title="Flight Free pledge form 2023"
    id="flightfreeuk-counter"
    height="480"
    class="mx-auto w-full"
></iframe></span> people have taken the pledge. Could you join them?</p>
  </div>
  <div class="container mx-auto mb-6 px-2 lg:px-24 flex flex-wrap justify-center items-stretch">
    <div class="w-full sm:w-1/3 bg-gray-light text-blue-dark p-8 text-2xl lg:text-3xl text-center font-bold">
      <p class="mb-4">Yes! I will be flight free in 2023</p>
      <button class="bg-orange text-blue-dark hover:bg-blue-dark hover:text-gray-light focus:outline-none text-2xl uppercase px-8 py-2 rounded-2xl font-bold" data-micromodal-trigger="pledge-modal">Sign up</button>
    </div>
    <p class="self-center my:4 md:mt-0 md:mb-16 px-8 text-2xl lg:text-3xl italic">or</p>
    <div class="w-full sm:w-1/3 bg-orange text-blue-dark p-8 text-2xl lg:text-3xl text-center font-bold">
      <p class="mb-4">I will make my own pledge</p>
      <button class="bg-gray-light text-blue-dark hover:bg-blue-dark hover:text-gray-light focus:outline-none text-2xl uppercase px-8 py-2 rounded-2xl font-bold" data-micromodal-trigger="pledge-custom-modal">Sign up</button>
    </div>
  </div>
  <div class="container mx-auto px-2 lg:px-16 md:grid grid-cols-131 justify-center items-center">
    <p class="xl:order-2 col-start-3 flex justify-end">
      <% link_to "/how_to/", class: "block text-right flex justify-end items-center pt-1 pb-8 font-bold text-lg xl:text-2xl text-gray-light hover:text-orange" do %>
        Find out more <img src="/svg/orange_arrow_right.svg" alt="arrow graphic" width="44" height="44" class="inline-block w-8 sm:w-10 h-auto ml-2" />
      <% end %>
    </p>
    <div class="xl:order-1 col-start-2 flex justify-center"><%= partial "svg/hands.svg" %></div>
  </div>
</section>

<script>
//fetch('https://0073b4a27fee21fb6a83cc3c919eb9e2-17912.sites.k-hosting.co.uk/counter')
//  .then(response => response.json())
//  .then(json => JSON.parse(json))
//  .then(output => document.getElementById('counter').innerHTML = output)
//  .catch((error) => {
//    document.getElementById('counter').innerHTML = "More than 1869";
//    console.error(error)
//  })
//window.addEventListener("message", (event) => {
//  console.log(event)
//  if (event.origin !== "https://0073b4a27fee21fb6a83cc3c919eb9e2-17912.sites.k-hosting.co.uk" || event.data !== "update_counter") {
//    return;
//  } else {
//    console.log("Updating counter!");
//    var counter = document.getElementById("counter").innerHTML;
//    var count = parseInt(counter);
//    if ( ! isNaN(count) ) {
//      counter = count++;
//    }
//  }
//}, false);
</script>