<div class="pledge-card bg-white shadow-md rounded py-6 px-6 m-auto my-6">
<iframe
    title="Flight Free pledge form 2021"
    width="320 "
    height="520"
    src="https://test.exigo.se/intform.php">
</iframe>
</div>
