<div class="bg-white shadow-md rounded m-auto my-3 w-288 lg:w-320">
<iframe
    src="https://flightfree.exigo.se/uk2022/ukform.php"
    title="Flight Free pledge form 2022"
    id="flightfreeuk-pledgeform-<%= id %>"
    height="432"
    class="mx-auto w-280"
></iframe>
</div>
