<div class="bg-white shadow-md rounded px-2 py-8 m-auto my-3 w-288 lg:w-40">
<iframe
    src="https://flightfree-pledge.test/custom.php"
    title="Flight Free custom pledge form 2023"
    id="flightfreeuk-pledgeform-custom-<%= id %>"
    height="440"
    class="mx-auto w-full"
></iframe>
</div>
