<div class="bg-gray-light shadow-md rounded px-2 py-4 md:p-8 m-auto my-3 w-288 lg:w-640">
<iframe
    src="https://0073b4a27fee21fb6a83cc3c919eb9e2-17912.sites.k-hosting.co.uk/custom.php"
    title="Flight Free custom pledge form 2023"
    id="flightfreeuk-pledgeform-custom-<%= id %>"
    height="440"
    class="mx-auto w-full"
></iframe>
</div>
