<div id="pledgeCard_<%= id %>" class="pledge-card w-full max-w-xs  bg-white shadow-md rounded py-6 px-6 m-auto my-6">
  <div id="message_<%= id %>" class="pledge-card__message h-16 mb-6 mt-3"></div>
  <form
    id="pledgeForm_<%= id %>"
    class="pledge-form"
    action="/.netlify/functions/add-subscriber"
    method="POST">
    
    <div class="mb-4">
      <input
        class="pledge-form__first-name shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="firstName"
        type="text"
        placeholder="First Name"
      />
    </div>
    <div class="mb-4">
      <input
        class="pledge-form__last-name shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="lastName"
        type="text"
        placeholder="Last Name"
      />
    </div>
    <div class="mb-6">
      <input
        class="pledge-form__email shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email"
        type="email"
        placeholder="Email"
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        class="pledge-form__submit bg-orange hover:bg-orange-shadow w-full text-white text-shadow font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Sign the pledge
      </button>
    </div>
  </form>
</div>
</script>
