<div class="bg-gray-light shadow-md rounded px-8 py-8 m-auto my-3 w-288 lg:w-360">
<iframe
    src="https://flightfree.jakemcmurchie.net/index.php"
    title="Flight Free pledge form 2023"
    id="flightfreeuk-pledgeform-<%= id %>"
    height="480"
    class="mx-auto w-full"
></iframe>
</div>
