<p class="text-2xl lg:text-4xl mb-4 lg:mb-16"><span id="counter">(counting)</span> have signed. Help us reach 5,000!</p>
<script>
fetch('https://0073b4a27fee21fb6a83cc3c919eb9e2-17912.sites.k-hosting.co.uk/counter')
  .then(response => response.json())
  .then(json => JSON.parse(json))
  .then(output => document.getElementById('counter').innerHTML = output)
  .catch((error) => {
    document.getElementById('counter').innerHTML = "1866";
    console.error(error)
  })
window.addEventListener("message", (event) => {
  console.log(event)
  if (event.origin !== "https://0073b4a27fee21fb6a83cc3c919eb9e2-17912.sites.k-hosting.co.uk" || event.data !== "update_counter") {
    return;
  } else {
    var counter = document.getElementById("counter").innerHTML;
    var count = parseInt(counter);
    if ( ! isNaN(count) ) {
      counter = count++;
    }
  }
}, false);
</script>