---
title: Be inspired
---
<section class="bg-gray-light px-48 pt-24 pb-12 text-blue-dark">
  <div class="text-l mb-16">
    Filter posts
    <span class="border border-blue-dark bg-blue-dark text-white ml-8 px-6 py-1 rounded-full">All</span>
    <span class="border border-blue-dark ml-4 px-6 py-1 rounded-full">Climate Change</span>
    <span class="border border-blue-dark ml-4 px-6 py-1 rounded-full">Flight-free travel</span>
    <span class="border border-blue-dark ml-4 px-6 py-1 rounded-full">Love Miles</span>
    <span class="border border-blue-dark ml-4 px-6 py-1 rounded-full">One of the 100,000</span>
  </div>
  <div class="flex flex-wrap justify-between">
    <div class="bg-white text-blue-dark mb-10" style="width: 48%">
      <a href="blog_post.html"><img src="images/blog_post_1.jpg" class="w-full" /></a>
      <div class="px-8 py-8">
        <div class="flex mb-4">
          <img src="images/blog_author_avatar.png" class="w-16 mr-6"/>
          <span class="text-xl self-center">Claire Thompson</span>
        </div>
        <h4 class="text-3xl mb-2"><a href="blog_post.html">Train setting accross Europe</a></h4>
        <p class="text-m leading-tight mb-3"><a href="blog_post.html">Claire Thompson’s sons live half a world away, in New Zealand. Claire Thompson’s sons live half a world away, in New Zealand…</a></p>
        <div class="text-lg text-blue-text-light">
          <span class="mr-4">2 days ago</span>
          <span>3 minute read</span>
        </div>
      </div>
    </div>
    <div class="mb-10 bg-white text-blue-dark" style="width: 48%">
      <a href="blog_post.html"><img src="images/blog_post_2.jpg" class="w-full" /></a>
      <div class="px-8 py-8">
        <div class="flex mb-4">
          <img src="images/blog_author_avatar.png" class="w-16 mr-6"/>
          <span class="text-xl self-center">Claire Thompson</span>
        </div>
        <h4 class="text-3xl mb-2"><a href="blog_post.html">Train setting accross Europe</a></h4>
        <p class="text-m leading-tight mb-3"><a href="blog_post.html">Claire Thompson’s sons live half a world away, in New Zealand. Claire Thompson’s sons live half a world away, in New Zealand…</a></p>
        <div class="text-lg text-blue-text-light">
          <span class="mr-4">2 days ago</span>
          <span>3 minute read</span>
        </div>
      </div>
    </div>
    <div class="mb-10 bg-white text-blue-dark" style="width: 48%">
      <a href="blog_post.html"><img src="images/blog_post_2.jpg" class="w-full" /></a>
      <div class="px-8 py-8">
        <div class="flex mb-4">
          <img src="images/blog_author_avatar.png" class="w-16 mr-6"/>
          <span class="text-xl self-center">Claire Thompson</span>
        </div>
        <h4 class="text-3xl mb-2"><a href="blog_post.html">Train setting accross Europe</a></h4>
        <p class="text-m leading-tight mb-3"><a href="blog_post.html">Claire Thompson’s sons live half a world away, in New Zealand. Claire Thompson’s sons live half a world away, in New Zealand…</a></p>
        <div class="text-lg text-blue-text-light">
          <span class="mr-4">2 days ago</span>
          <span>3 minute read</span>
        </div>
      </div>
    </div>
    <div class="mb-10 bg-white text-blue-dark" style="width: 48%">
      <a href="blog_post.html"><img src="images/blog_post_1.jpg" class="w-full" /></a>
      <div class="px-8 py-8">
        <div class="flex mb-4">
          <img src="images/blog_author_avatar.png" class="w-16 mr-6"/>
          <span class="text-xl self-center">Claire Thompson</span>
        </div>
        <h4 class="text-3xl mb-2"><a href="blog_post.html">Train setting accross Europe</a></h4>
        <p class="text-m leading-tight mb-3"><a href="blog_post.html">Claire Thompson’s sons live half a world away, in New Zealand. Claire Thompson’s sons live half a world away, in New Zealand…</a></p>
        <div class="text-lg text-blue-text-light">
          <span class="mr-4">2 days ago</span>
          <span>3 minute read</span>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="text-xl">Load more posts</a>
</section>
