---
title: Contact us
---
<main class="bg-blue pl-48 pr-32 pt-24 pb-16 text-white">
  <h1 class="text-5xl mb-8">Contact us</h1>
  <div class="flex">
    <div class="w-1/2 pr-32">
      <h2 class="text-3xl mb-4">General enquiries</h2>
      <p class="text-sm mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <a href="mailto:info@flightfree.co.uk" class="text-base">info@flightfree.co.uk</a>
    </div>
    <div class="w-1/2">
      <h2 class="text-3xl mb-8">Social media</h2>
      <div class="flex flex-wrap text-2xl">
        <a href="#" class="w-1/2 mb-8 pl-16 bg-no-repeat bg-contain leading-loose" style="background-image:url(svg/facebook_white_bg.svg)">/flightfreeuk</a>
        <a href="#" class="w-1/2 mb-8 pl-16 bg-no-repeat bg-contain leading-loose" style="background-image:url(images/instagram_with_bg.png)">@flightfree2020</a>
        <a href="#" class="w-1/2 mb-8 pl-16 bg-no-repeat bg-contain leading-loose" style="background-image:url(svg/twitter_with_bg.svg)">@flightfree2020</a>
      </div>
    </div>
  </div>
</main>

