---
title: Downloads
---
<main class="bg-gray-light">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 py-6 sm:py-12 xl:py-24">
    <h1 class="text-4xl xl:text-5xl text-blue-dark mb-2">Downloads</h1>
    <div class="xl:flex space-between">
      <div class="xl:w-1/3 xl:mr-4">
        <a href="/downloads/FLIGHT_FREE_FOR_THE_CLIMATE.pdf" target="_blank">
          <img src="/images/download-cover-pledge-card-2022.png" class="mb-4 sm:mb-8" />
          <span class="text-xl xl:text-2xl text-blue leading-tight">
            Download a PDF of the pledge card. Print at A4 or A5 size, or display on your phone or device.
          </span>
          <img src="/images/orange_arrow_down.png" class="mt-6 mb-10 w-8 xl:w-auto xl:mt-8 xl:mb-0" />
        </a>
      </div>
      <div class="xl:w-1/3 xl:mr-4">
        <a href="/downloads/Campaign_flyer-2022.pdf" target="_blank">
          <img src="/images/download-cover-campaign-flyer-2022.png" class="mb-4 sm:mb-8" />
          <span class="text-xl xl:text-2xl text-blue leading-tight">
            Download a PDF of our campaign flyer. Ready to print at A6 size (double-sided).
          </span>
          <img src="/images/orange_arrow_down.png" class="mt-6 mb-10 w-8 xl:w-auto xl:mt-8 xl:mb-0" />
        </a>
      </div>
      <div class="xl:w-1/3 xl:mr-4">
        <a href="/downloads/WeNeedToTalkAboutAviation_short_version-2022.pdf" target="_blank">
          <img src="/images/download-cover-guide-2022.png" class="mb-4 sm:mb-8" />
          <span class="text-xl xl:text-2xl text-blue leading-tight">
            Download our guide to having climate conversations.
          </span>
          <img src="/images/orange_arrow_down.png" class="mt-6 mb-10 w-8 xl:w-auto xl:mt-8 xl:mb-0" />
        </a>
      </div>
    </div>
  </div>
</main>
