---
title: FAQs
---
<main>

<section class="bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-6 sm:pb-8">
    <h1 class="text-4xl xl:text-5xl font-bold leading-tight mb-6">FAQs</h1>
    <a name="top" id="top"></a>
    <ul class="text-xl xl:text-2xl mb-8 sm:mb-16 leading-tight xl:leading-normal">
      <li class="pl-10 bg-no-repeat bg-left mb-4 xl:mb-0" style="background-image:url(/svg/faq_bullet.svg"><a href="#general_faqs_about_flying">General FAQs about flying</a></li>
      <li class="pl-10 bg-no-repeat bg-left" style="background-image:url(/svg/faq_bullet.svg"><a href="#specific_faqs_about_the_campaign">Specific FAQs about the campaign</a></li>
    </ul>
    <a name="general_faqs_about_flying"></a>
    <h2 class="text-2xl xl:text-4xl mb-6 sm:mb-8 font-bold leading-tight">General FAQs about flying</h2>
    <% data.faqs.general.faqs.each do |faq| %>
      <div class="faq-question mb-4 border-b border-gray-200 pb-4">
        <h3 class="w-full pr-12 text-xl xl:text-2xl leading-tight bg-no-repeat bg-right-top cursor-pointer" onclick="this.parentElement.classList.toggle('expanded')"><%= faq.question %></h3>
        <div class="answer hidden mt-4 sm:mt-6 xl:pr-32">
          <%= markdown(faq.answer) %>
        </div>
      </div>
    <% end %>
    <p class="text-right mb-16">
      <a href="#top" class="hidden xl:block text-lg xl:text-2xl leading-tight">Back to top</a>
    </p>
    <a name="specific_faqs_about_the_campaign"></a>
    <h2 class="text-2xl xl:text-4xl mb-6 sm:mb-8 font-bold leading-tight">Specific FAQs about the campaign</h2>
    <% data.faqs.specific.faqs.each do |faq| %>
      <div class="faq-question mb-4 border-b border-gray-200 pb-4">
        <h3 class="w-full pr-12 text-xl xl:text-2xl leading-tight bg-no-repeat bg-right-top cursor-pointer" onclick="this.parentElement.classList.toggle('expanded')"><%= faq.question %></h3>
        <div class="answer hidden mt-4 sm:mt-6 xl:pr-32">
          <%= markdown(faq.answer) %>
        </div>
      </div>
    <% end %>
    <p class="hidden xl:block text-right">
      <a href="#top" class="text-lg xl:text-2xl leading-tight">Back to top</a>
    </p>
  </div>
</section>

</main>
