---
title: Flight Free Schools
cover_image: /images/flight_free_schools_header_1600x900.jpg
summary: 'Flight Free Schools is a scheme that helps schools reduce or remove the use of air travel for school trips'
---
<main>

<section class="section--introduction bg-blue-dark text-gray-light">
  <div class="container mx-auto px-4 xl:px-48 xxl:px-64 py-4 sm:pb-8">
    <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold leading-tight mb-6">Flight Free Schools</h1>
    <p class="text-2xl leading-tight">A project by Flight Free UK to reduce or remove air travel for school trips</p>
  </div>
  <figure>
    <img src="/images/flight_free_schools_header.jpg" alt="Flight Free Schools header image">
  </figure>
</section>

<section class="bg-gray-light text-blue-dark container px-4 mx-auto xl:px-48 xxl:px-64 py-8 lg:py-24">
    <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold leading-tight mb-6 lg:mb-10">What is it?</h2>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Flight Free Schools is a scheme that helps schools reduce or remove the use of air travel for school trips. Reducing or removing air travel is an easy way of bringing school-wide emissions down and reaching climate targets, and can benefit student learning as well as environmental health.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Schools sign up for one year at a time, and make a pledge appropriate to the school. They work with Flight Free UK to fulfil the pledge, and receive a certificate to show their involvement.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">There is no cost to the school, and the benefits can be enormous!</p>
    <h3 class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Example pledges:</h3>
    <div class="md:flex flex-wrap gap-8">
      <div class="md:flex-third mb-4 text-center">
        <img src="/images/Bronze.svg">
      </div>
      <div class="md:flex-third mb-4 text-center">
        <img src="/images/Silver.svg">
      </div>
      <div class="md:flex-third mb-4 text-center">
        <img src="/images/Gold.svg">
      </div>
    </div>
</section>

<section class="bg-blue text-gray-light">
  <div class="container mx-auto px-4 xl:px-48 xxl:px-64 py-8 lg:py-24">
    <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold leading-tight mb-6 lg:mb-10">Why do it?</h2>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">The Department for Education says that schools must have a Climate Action Plan in place, and many schools are already taking steps to reduce emissions. Removing flights is one of the quickest, cheapest and most effective way of reducing emissions.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Emissions from school trip flights can be many times higher than emissions from other school activities, so reducing or removing flights can have an immediate and significant impact on school carbon reduction targets.</p>
    <div class="md:flex flex-wrap gap-8 mb-6">
      <div class="md:flex-half mb-4 text-center">
        <img src="/images/school-run-vs-driving.jpg">
      </div>
      <div class="md:flex-half mb-4 text-center">
        <img src="/images/train-vs-plane-vs-coach.jpg">
      </div>
  </div>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Flight-free trips are more inclusive, as trips involving long-haul flights might be inaccessible to students from disadvantaged backgrounds. Focussing on local trips will help improve access for all.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Removing flights from trips helps to model low-carbon behaviour and inspire climate-friendly choices later in life, as flying for school trips normalises air travel, potentially creating a new generation of frequent flyers. This will make it harder to build the low-carbon society that is needed to address the climate crisis.</p>
</section>

<section class="bg-orange text-blue-dark">
  <div class="container mx-auto px-4 xl:px-48 xxl:px-64 py-8 lg:py-24">
    <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold leading-tight mb-6 lg:mb-10">How to go on trips without flying</h2>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Our recommendation is coach travel. Most destinations within Europe are easily accessible from all parts of the UK by coach, and coach travel is usually the cheapest and most logistically easy option.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Taking the train is also an option, but many schools prefer the coach as it’s cheaper and the logistics are more straightforward, with no interchanges.</p>
    <h3 class="text-2xl sm:text-3xl lg:text-4xl font-bold leading-tight mb-6 lg:mb-10">Coach vs flight</h3>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">A smoother experience for teachers: pupils board the coach at the school, and disembark at the destination. There’s no need for airport transfers or for waiting around in a departure lounge. You can make a relationship with your driver/s, who you keep throughout the full trip.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Cheaper: with air travel, the price rises the more seats you book. With coach travel, you pay a single fee for the coach, meaning that a full coach is a lot cheaper per student than flying.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">There’s no limit on the amount of baggage everyone can take, and less chance of it being damaged or lost in transit.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">The time on the ferry gives a perfect break for pupils to walk around, have food and entertain themselves, within an enclosed space.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Coach travel takes longer, but it’s easy. Students are remarkably resilient even on 24-hour journeys (teachers perhaps less so!).</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Schools are travelling by coach to destinations across Europe, even from the north of England and Scotland.</p>
    <div class="md:flex flex-wrap gap-8">
      <div class="md:flex-half">
        <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold leading-tight mb-6 lg:mb-10">Suggested destinations</h2>
        <ul class="mb-6">
          <li class="list-none pl-10 text-xl lg:text-2xl" style="background:transparent url(/images/list-arrow.svg) left center no-repeat">Paris for theatre</li>
          <li class="list-none pl-10 text-xl lg:text-2xl" style="background:transparent url(/images/list-arrow.svg) left center no-repeat">Normandy for history</li>
          <li class="list-none pl-10 text-xl lg:text-2xl" style="background:transparent url(/images/list-arrow.svg) left center no-repeat">Amsterdam for culture</li>
          <li class="list-none pl-10 text-xl lg:text-2xl" style="background:transparent url(/images/list-arrow.svg) left center no-repeat">Alps for skiing</li>
          <li class="list-none pl-10 text-xl lg:text-2xl" style="background:transparent url(/images/list-arrow.svg) left center no-repeat">Berlin for history</li>
          <li class="list-none pl-10 text-xl lg:text-2xl" style="background:transparent url(/images/list-arrow.svg) left center no-repeat">Barcelona for languages</li>
          <li class="list-none pl-10 text-xl lg:text-2xl" style="background:transparent url(/images/list-arrow.svg) left center no-repeat">Pisa for architecture</li>
          <li class="list-none pl-10 text-xl lg:text-2xl" style="background:transparent url(/images/list-arrow.svg) left center no-repeat">Vienna for music</li>
        </ul>
      </div>
      <div class="md:flex-half">
        <img src="/images/flight-free-schools-destination-map.jpg" alt="flight free schools destination map"/>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-light text-blue-dark">
  <div class="container px-4 mx-auto xl:px-48 xxl:px-64 py-8 lg:py-24">
    <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold leading-tight mb-6 lg:mb-10">Case studies</h2>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight"><a href="https://www.hillsroad.ac.uk/about-us/sustainability" target="_blank" class="text-blue-dark hover:text-orange underline">Hills Road Sixth Form College, Cambridge, Gold level (no flights).</a></p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">The college stopped taking flights in 2020 because it was the quickest and most effective way to reach their carbon reduction targets. An analysis of the college-wide carbon footprint showed that flights for trips made up 11% of the college’s overall emissions, which is more than electricity use or gas use over the course of a year.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">The PE department used to fly to Boston, Massachusetts. They now go to Manchester, which the Head of PE says aligns more closely with the curriculum. The Art department used to fly to Berlin and Amsterdam, and they now go to Paris by train, or take the coach to Amsterdam. The French department used to fly to Marseilles, and now they take the train to Paris. The Spanish department used to fly to Santander, but they now take the coach.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Most departments have adapted well, and found close-to-home locations that work well for their trips. Many have found that taking the coach is simpler and less stressful than flying. </p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Replacing long-haul trips with short-haul coach travel has enabled more students to take part, especially those from low-income backgrounds.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">It has been a significant challenge for the Spanish department, because getting to Santander requires a 24 hour coach journey, which is tiring for the staff and the students, although they mostly find it enjoyable.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Year 13 student Kikamma was on the Spanish exchange trip and said, "It’s really nice to be able to go to Spain but to be able to do it in a way that’s environmentally conscious. It’s so important that we do that to have a world for ourselves and for generations to come as well. I think the least we can do is choose not to fly as much as possible." </p>
</div>
</section>

<section class="bg-blue-dark text-gray-light">
  <div class="container mx-auto px-4 xl:px-48 xxl:px-64 py-8 lg:py-24">
    <h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold leading-tight mb-6 lg:mb-10">What support is available?</h2>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Flight Free UK will help, advise and support the school throughout the project.</p>
    <p class="mb-2 text-xl lg:text-2xl leading-tight">At the start of the project, the school will:</p>
    <ul class="list-disc mb-6 sm:mb-8">
      <li class="ml-8 mb-2 text-xl lg:text-2xl leading-tight">assign a member of staff (usually the Sustainability Lead) to be the project liaison</li>
      <li class="ml-8 mb-2 text-xl lg:text-2xl leading-tight">arrange an initial meeting with the SLT (online or in-person)</li>
      <li class="ml-8 mb-2 text-xl lg:text-2xl leading-tight">provide information about the number and type of trips currently taken to establish baseline data</li>
    </ul>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">Flight Free UK will work with departmental staff to help gather data, plan trips, and share the scheme with parents and the wider school community.</p>
    <p class="text-xl lg:text-2xl mb-6 sm:mb-8 leading-tight">With Flight Free UK’s help, the school will carry out a survey at the end of the year among students, staff and parents to gather data on the outcomes and experiences of participants.</p>
  </div>
</section>

<section class="bg-orange text-blue-dark">
  <div class="container mx-auto px-4 xl:px-48 xxl:px-64 py-8 lg:py-24">
    <div class="md:flex gap-8">
      <div class="md:flex-auto mb-4">
        <img src="/images/flight-free-schools-logo.png" alt="Flight free schools logo"/>
      </div>
      <div class="md:flex-auto">
        <p class="text-2xl lg:text-3xl leading-tight">For more information or to join the scheme,<br>email <a href="mailto:info@flightfree.co.uk" class="hover:text-blue underline">info@flightfree.co.uk</a></p>
      </div>
    </div>
  </div>
</section>

</main>
