---
title: Podcast
---
<section class="bg-gray-light px-48 pt-24 pb-20">
  <h1 class="text-5xl text-blue-dark mb-6">Flight Free Podcast</h1>
  <p class="text-3xl mb-16 leading-tight text-text-gray-light">Welcome to the Flight Free UK podcast! Here we interview activists, politicians and others about why they've pledged to be #flightfree in 2020</p>
  <div class="flex bg-blue-dark mb-12 bg-no-repeat bg-right-top" style="background-image:url(images/latest_podcast.png)">
    <img src="images/anna_with_roger_hallam_large.png" class="w-1/2" />
    <div class="relative w-1/2 px-16 pt-16" >
      <p class="text-2xl text-white leading-tight mb-10">We hear from Roger Hallam, one of the brains behind Extinction Rebellion, about civil disobedience, making a noise about the climate crisis, and how to create change</p>
      <a href="#" class="inline-block text-xl text-white pl-10 bg-no-repeat" style="background-image:url(svg/podcast.svg)">Listen now</a>
    </div>
  </div>
  <div class="flex bg-blue-dark mb-12 text-white">
    <img src="images/anna_with_roger_hallam.png" />
    <div class="py-6 px-10 w-1/3 text-2xl leading-tight self-center">
      Podcast title here and can go over two lines.
    </div>
    <div class="flex-grow flex items-center justify-end pr-12">
      <a href="#" class="text-xl pl-10 bg-no-repeat" style="background-image:url(svg/podcast.svg)">Listen now</a>
    </div>
  </div>
  <div class="flex bg-blue-dark mb-12 text-white">
    <img src="images/anna_with_roger_hallam.png" />
    <div class="py-6 px-10 w-1/3 text-2xl leading-tight self-center">
      Podcast title here and can go over two lines.
    </div>
    <div class="flex-grow flex items-center justify-end pr-12">
      <a href="#" class="text-xl pl-10 bg-no-repeat" style="background-image:url(svg/podcast.svg)">Listen now</a>
    </div>
  </div>
  <div class="flex bg-blue-dark mb-12 text-white">
    <img src="images/anna_with_roger_hallam.png" />
    <div class="py-6 px-10 w-1/3 text-2xl leading-tight self-center">
      Podcast title here and can go over two lines.
    </div>
    <div class="flex-grow flex items-center justify-end pr-12">
      <a href="#" class="text-xl pl-10 bg-no-repeat" style="background-image:url(svg/podcast.svg)">Listen now</a>
    </div>
  </div>
  <a href="#" class="text-xl text-blue-dark">Load more podcasts</a>
</section>
