---
title: Privacy policy
---
<main class="bg-gray-light px-48 pt-24 pb-24 text-text-default text-xl leading-tight">
  <h1 class="text-5xl text-blue-dark mb-8">Privacy Policy</h1>
  <p>Introduction</p>
  <p class="mb-6">This policy sets out what information we ask for, what information we hold and for how long, and how we use your data. This applies to information collected through the Flight Free 2020 pledge on the Flight Free UK website (www.flightfree.co.uk). It shows how our practices comply with the GDPR (General Data Protection Regulations).</p>
  <p>Who are we?</p>
  <p class="mb-6">This policy is written by Flight Free UK. We are working in partnership with We Stay on the Ground (www.westayontheground.org) and We Don’t Have Time (www.wedonthavetime.org)</p>
  <p>What information do we collect?</p>
  <p class="mb-6">We ask all signatories of Flight Free 2020 to provide name, email address and location (country). This information is collected through a pledge tool on our website.</p>
  <p class="mb-6">We also ask if signatories are prepared to provide a testimonial, which is a photograph accompanied by a name. This is voluntary and initiated by the signatory.</p>
  <p>How do we use personal information?</p>
  <p class="mb-6">We use this data to compile a list of supporters of our campaign. Your name is kept on our register and your email address is added to our Mailchimp mailing list. Your location is used to determine that you are eligible to sign our pledge (for UK residents only). Your name and email address is not published.</p>
  <p class="mb-6">Photographs supplied as part of a testimonial are uploaded to our social media platforms. These are then subject to the relevant social platforms’ Privacy Policies.</p>
  <p>What legal basis do we have for processing your personal data?</p>
  <p class="mb-6">By signing our pledge, you give us your consent for us to process your personal data. You can withdraw your consent at any time by contacting us. By withdrawing your consent, your name is removed from our signatories’ list and will not be counted towards the total signatories.</p>
  <p>When do we share personal data?</p>
  <p class="mb-6">We do not share your data with any third parties.</p>
  <p>Where do we store and process personal data?</p>
  <p class="mb-6">Your personal data will be treated confidentially. The Flight Free UK team and the We Don’t Have Time team can access the data, which is protected by password access. Your data is also held in the Mailchimp system, in accordance Mailchimp’s Privacy Policy.</p>
  <p>How long do we keep your personal data for?</p>
  <p class="mb-6">Your data will be kept for five years beyond the end of the campaign. This is to keep signatories updated with the progress and impact of the campaign, and inform them of future campaigns that might be of interest. At the end of this time, your data will be securely deleted from our records. You can request that your data is securely removed before this date by contacting us.</p>
  <p>Your rights in relation to personal data</p>
  <p class="mb-6">Under the GDPR, you have the right to access and control your personal data. You can contact us at any time to find out what information we hold on you and how we use it. You may, at any time, ask us to correct or delete your data.</p>
  <p>How to contact us?</p>
  <p>To contact us, please go to our website: www.flightfree.co.uk/contact</p>
</main>
