---
title: Privacy policy
---
<main class="bg-gray-light">
  <div class="container mx-auto px-4 sm:px-8 xl:px-24 xxl:px-48 py-6 sm:py-12 xl:py-24 text-text-default text-lg xl:text-xl leading-tight">
    <h1 class="text-4xl xl:text-5xl text-blue-dark mb-4 sm:mb-8">Privacy Policy</h1>
    <p><b>Introduction</b></p>
    <p class="mb-6">This policy sets out what information we ask for, what information we hold and for how long, and how we use your data. This applies to information collected through the Flight Free UK website (www.flightfree.co.uk). It shows how our practices comply with the GDPR (General Data Protection Regulations).</p>
    <p><b>Who are we?</b></p>
    <p class="mb-6">This policy is written by Flight Free UK. We are part of the global campaign <a class="text underline" target="blank" href="https://flightfree.world">Flight Free World</a>.</p>
    <p><b>What information do we collect?</b></p>
    <p class="mb-6">We ask all signatories of the flight free pledge to provide name, email address and location (country). This information is collected through the pledge tool on our website.</p>
    <p class="mb-6">We also ask if signatories are prepared to provide a testimonial, which is a photograph accompanied by a name and location (city/town). This is voluntary and initiated by the signatory.</p>
    <p><b>When do we contact you?</b></p>
    <p class="mb-6">We send one email per month to our mailing list. We might also contact you for technical reasons. At the end of the pledge year we will send one email to all pledgers, including those who have unsuscribed from the mailing list, to update them on the outcome of the campaign.</p>
    <p><b>How do we use personal information?</b></p>
    <p class="mb-6">We use this data to compile a list of supporters of our campaign. Your name is kept on our register and your email address is added to our mailing list. Your location is used to determine which country's total your pledge will be added to. Your name and email address is not published.</p>
    <p class="mb-6">Photographs supplied as part of a testimonial are uploaded to our social media platforms. These are then subject to the relevant social platforms’ Privacy Policies. By sending us your testimonial picture you give us persmission to use it as part of our campaigning.</p>
    <p><b>What legal basis do we have for processing your personal data?</b></p>
    <p class="mb-6">By signing our pledge, you give us your consent for us to process your personal data. You can withdraw your consent at any time by contacting us. By withdrawing your consent, your name is removed from our signatories’ list and will not be counted towards the pledge.</p>
    <p><b>When do we share personal data?</b></p>
    <p class="mb-6">We do not share your data with any third parties.</p>
    <p><b>Where do we store and process personal data?</b></p>
    <p class="mb-6">Your personal data will be treated confidentially. The Flight Free UK team and Flight Free World team can access the data, which is protected by password access. Your data is also held in the Sendinblue system (our newsletter host), in accordance with Sendinblue’s Privacy Policy.</p>
    <p><b>How long do we keep your personal data for?</b></p>
    <p class="mb-6">Your data is held for as long as you stay on the pledge. For those who have unsubscribed or not renewed your pledge, your data will be kept for up to five years. At the end of this time, your data will be securely deleted from our records. You can request that your data is securely removed before this date by contacting us.</p>
    <p><b>Your rights in relation to personal data</b></p>
    <p class="mb-6">Under the GDPR, you have the right to access and control your personal data. You can contact us at any time to find out what information we hold on you and how we use it. You may, at any time, ask us to correct or delete your data.</p>
    <p><b>How to contact us</b></p>
    <p>Our contact details are on the <a class="text underline" href="/contact_us"> Contact Us</a> page.</p>
  </div>
</main>
