---
title: Terms & conditions
---
<main class="bg-gray-light">
  <div class="container mx-auto px-8 py-12 xl:px-48 xl:py-24 text-text-default text-lg xl:text-xl leading-tight">
    <h1 class="text-4xl text-5xl text-blue-dark mb-8">Terms & Conditions</h1>
    <p class="mb-6">When you sign the pledge your name will automatically be counted towards the total signatories.* Your email address will be added to our mailing list where you'll receive one email per month updating you on the campaign. You may unsubscribe at any time, but we'll still hold your data otherwise your pledge won't be counted. For information on how we use your data, please see our Privacy Policy.</p>
    <p class="mb-6">*For your signature to count towards the 100,000, you must be a UK resident. If you select a different country your pledge will be held on the database as an international pledge.</p>
  </div>
</main>
