---
title: Why flight free?
---
<-- first test commit by jake -->
<main class="bg-gray-light">
  <div class="container mx-auto px-4 sm:px-8 xl:px-16 xxl:px-48 pt-6 sm:pt-12 xl:pt-24 pb-12 text-text-default">
    <h1 class="text-4xl xl:text-5xl text-blue-dark mb-6">Why Flight Free?</h1>
    <p class="text-2xl xl:text-3xl mb-12 xl:mb-16 leading-tight text-text-gray-light">Aviation is the fastest growing contributor to greenhouse gas emissions at a time when we desperately need to reduce them.</p>

    <div class="mx-auto mb-12 sm:w-11/12 lg:w-3/4 xxl:w-2/3">
      <div class="relative h-0" style="padding-bottom: 76.25%">
        <iframe width="560" height="349" src="https://www.youtube.com/embed/YfzlsUHLxxc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="absolute t-0 l-0 w-full h-full"></iframe>
      </div>
    </div>

    <p class="text-lg xl:text-xl leading-tight mt-6 mb-6">Reducing our carbon footprints is vital in avoiding climate breakdown. There are lots of things we can do, like eating less meat, using renewable energy, or driving less. But did you know that just one flight can wipe out all those savings? Living sustainably whilst continuing to fly is impossible.</p>
    <p class="text-lg xl:text-xl leading-tight mb-6">The good news is that reducing the amount you fly is the easiest way to make a meaningful reduction to your carbon footprint, and there are lots of alternative ways to travel. With the whole of Europe on our doorstep, we have so many holiday destinations to choose from, and going overland can be a much more enjoyable way to travel.</p>
    <p class="text-lg xl:text-xl leading-tight mb-6">It’s also about changing norms. Choosing not to fly can have an impact that goes beyond just reducing our own emissions. If lots of us do this together, we will make it normal not to fly, and show politicians and industry that people are ready for change.</p>
    <p class="text-lg xl:text-xl leading-tight mb-10">Across Europe, we are seeing a rise in low-carbon travel, as more and more people choose not to fly. Could you join them?</p>

    <% link_to "/faq.html", class: "inline-block text-xl xl:text-2xl text-orange bg-no-repeat bg-right bg-contain py-1 pr-12 xl:pr-16 mb-12 xl:mb-16", style: "background-image:url(/svg/orange_arrow_right.svg)" do %>
      Find out more in our FAQs
    <% end %>

    <a href="<%= image_path("/images/why_flight_free_personal_choices.png") %>" target="_blank">
      <img src="<%= image_path("/images/why_flight_free_personal_choices.png") %>" class="w-full mb-12"/>
    </a>
  </div>
</main>
