---
title: Why flight free?
---
<main class="bg-white px-48 pt-24 pb-12 text-text-default">
  <h1 class="text-5xl text-blue-dark mb-6">Why Flight Free?</h1>
  <p class="text-3xl mb-16 leading-tight text-text-gray-light">Aviation is the fastest growing contributor to greenhouse gas emissions at a time when we desperately need to reduce them.</p>

  <img src="images/why_flight_free_video.png" class="w-full mb-12"/>

  <p class="text-xl leading-tight mb-6">Although aviation currently makes up less than 10% of global emissions, this is because most people in the world cannot afford to fly (the same people who will be hit first and hardest by climate breakdown).</p>
  <p class="text-xl leading-tight mb-16">For those who can afford it, flying is often by far the single largest component of individual footprints. A return long-haul flight is roughly equivalent to driving for a year or eating a very meat-heavy diet. Living sustainably whilst continuing to fly is impossible.</p>

  <img src="images/why_flight_free_personal_choices.png" class="w-full mb-12"/>

  <p class="text-xl leading-tight mb-6">The good news is that stopping flying is often the easiest way to make a meaningful impact on preventing climate breakdown, and there are lots of alternative ways to travel.</p>
  <p class="text-xl leading-tight mb-10">In Sweden, where Greta Thurnberg and youth climate protests have encouraged people to stop flying, there has already been an 8% reduction in demand for flights. When we come together, real change is possible.</p>

  <a href="#" class="text-2xl text-orange">
    Find out more in our FAQs
    <img src="svg/orange_arrow_right.svg" class="inline-block ml-2"/>
  </a>
</main>
