---
title: Why flight free?
---
<main>

<section class="section--introduction bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-12">
    <h1 class="text-4xl xl:text-5xl font-bold leading-tight mb-10">Why flight free?</h1>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Reducing our carbon emissions is vital in avoiding climate breakdown. There are lots of things we can do, like eating less meat, using renewable energy, and driving less. But did you know that just one flight can wipe out all your savings?</p>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight">Taking a flight free year is a great way to cut your emissions and give other ways of travelling a try.</p>

    <div class="mx-auto mb-6 sm:mb-16 sm:w-11/12 lg:w-3/4">
      <div class="relative h-0" style="padding-bottom: 56.25%">
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/488449939?byline=false" width="640" height="360" frameborder="0" allowfullscreen="" class="absolute t-0 l-0 w-full h-full"></iframe>
      </div>
    </div>
  </div>
</section>

<section class="section--reduce_emissions bg-blue text-white">
    <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-12">
        <h2 class="text-4xl xl:text-5xl font-bold leading-tight mb-6">To reduce emissions</h2>
        <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Not everybody flies, but for those that do, flights are likely to make up the biggest chunk of your carbon footprint. It's one of the most high-carbon ways of travelling, so switching to another mode of transport can make a huge impact on our emissions.</p>
        <p class="text-xl xl:text-3xl mb-6 sm:mb-16 leading-tight">Find out how much of your carbon footprint is taken up by flights with the <a href="https://footprint.wwf.org.uk/" target="_blank" class="border-b-2 border-orange hover:text-orange">WWF carbon footprint calculator</a>.</p>

        <div class="lg:mx-4 flex flex-wrap justify-center md:grid md:grid-cols-3 md:gap-4">
            <a href="/images/Why_lifestyle_comparison.jpg" target="_blank" class="mb-4">
                <img src="/images/Why_lifestyle_comparison.jpg"/>
            </a>
            <a href="/images/Why_map_emissions.jpg" target="_blank" class="mb-4">
                <img src="/images/Why_map_emissions.jpg"/>
            </a>
            <a href="/images/Why_transport_comparison.jpg" target="_blank" class="mb-4">
                <img src="/images/Why_transport_comparison.jpg"/>
            </a>
        </div>

        <p class="text-base lg:mx-4 mb-6 sm:mb-16 leading-tight">Sources: We use <a href="https://flightemissionmap.org" target="_blank" class="border-b-2 border-orange hover:text-orange">flightemissionmap.org</a> and <a href="https://raileurope.com" target="_blank" class="border-b-2 border-orange hover:text-orange">raileurope.com</a> to work out flight emissions.<br>
        We use <a href="https://www.gov.uk/government/collections/government-conversion-factors-for-company-reporting" target="_blank" class="border-b-2 border-orange hover:text-orange">DfT figures</a> for other transport emissions.</p>

    </div>
</section>

<section class="section--for_justice bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-12">
    <h2 class="text-4xl xl:text-5xl font-bold leading-tight mb-10">For justice</h2>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Aviation emissions affect us disproportionately: it’s typically the rich nations who take most of the flights, whereas the poor nations are suffering the effects of climate change and are least equipped to deal with rising temperatures.</p>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Even here in the UK, only around half of people fly per year, yet the negative effects of aviation are felt by a large number of people, whether by noise and pollution from airports, or taxpayer-funded bailouts for airlines.</p>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Aviation doesn’t pay its fair share of tax, with no tax on jet fuel (road fuel is taxed at 50%), and no VAT on airline tickets. The benefits of aviation are felt by only a few, yet we all suffer the consequences.</p>
  </div>
</section>

<section class="section--social_change bg-orange text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-12">
    <h2 class="text-4xl xl:text-5xl font-bold leading-tight mb-10">To inspire social change</h2>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">It might seem that flying is normal, especially if lots of people around you fly. We are strongly influenced by what others do, and as more people choose to stop flying, more will follow.</p>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Our aim is to challenge the norm when it comes to flying, and shift the narrative away from taking flights as the default. When lots of people take action together, that's when real change happens.</p>

    <div class="mx-auto mb-6 sm:mb-16 sm:w-11/12 lg:w-3/4">
      <div class="relative h-0" style="padding-bottom: 56.25%">
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/488232606?byline=false" width="640" height="360" frameborder="0" allowfullscreen="" class="absolute t-0 l-0 w-full h-full"></iframe>
      </div>
    </div>
  </div>
</section>

<section class="section--system_change bg-gray-light text-blue-dark">
  <div class="container mx-auto px-8 xl:px-32 xxl:px-48 pt-12 pb-12">
    <h2 class="text-4xl xl:text-5xl font-bold leading-tight mb-10">To influence system change</h2>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">We won’t get to where we need to be without big structural changes led by government. One way to influence government and industry is through our consumer choices. Markets respond to demand, as we have seen with a resurgence in trains and ferries across continental Europe as more people become interested in low-carbon travel.</p>
    <p class="text-xl xl:text-3xl mb-6 sm:mb-8 leading-tight">Individual change on its own is not enough, but it plays a very important part in helping to shape policy.</p>
  </div>
</section>

</main>
