---
title: Why flight free?
---
<main class="bg-white">
  <div class="container mx-auto  px-8 xl:px-48 pt-12 xl:pt-24 pb-12 text-text-default">
    <h1 class="text-4xl xl:text-5xl text-blue-dark mb-6">Why Flight Free?</h1>
    <p class="text-2xl xl:text-3xl mb-12 xl:mb-16 leading-tight text-text-gray-light">Aviation is the fastest growing contributor to greenhouse gas emissions at a time when we desperately need to reduce them.</p>

    <iframe height="405" src="https://www.youtube.com/embed/dVkNNV6PORw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="w-full mb-12"></iframe>

    <p class="text-lg xl:text-xl leading-tight mb-6">Although aviation currently makes up less than 5% of global emissions, this is because most people have never been on an aeroplane; the same people who will be hit first and hardest by climate breakdown.</p>
    <p class="text-lg xl:text-xl leading-tight mb-12 xl:mb-16">For those who can afford it, flying can make up the single largest part of their carbon footprints. A return long-haul flight is roughly equivalent to driving for a year or eating a meat-heavy diet. Even if you take other measures to be environmentally friendly, one flight can wipe out those savings. Living sustainably whilst continuing to fly is impossible.</p>

    <a href="<%= image_path("/images/why_flight_free_personal_choices.png") %>" target="_blank">
      <img src="<%= image_path("/images/why_flight_free_personal_choices.png") %>" class="w-full mb-12"/>
    </a>

    <p class="text-lg xl:text-xl leading-tight mb-6">The good news is that stopping flying is often the easiest way to make a meaningful impact on preventing climate breakdown, and there are lots of alternative ways to travel.</p>
    <p class="text-lg xl:text-xl leading-tight mb-10">In Sweden, where Greta Thurnberg and youth climate protests have encouraged people to stop flying, there has already been an 8% reduction in demand for flights. When we come together, real change is possible.</p>

    <% link_to "/faqs.html", class: "text-xl xl:text-2xl text-orange bg-no-repeat bg-right bg-contain py-1 pr-12 xl:pr-16", style: "background-image:url(/svg/orange_arrow_right.svg)" do %>
      Find out more in our FAQs
    <% end %>
  </div>
</main>
